.label{
  display:flex;
  height: 50px;
  justify-content: space-between;
  align-items:end;
  padding: 8px;
  .title{
    font-size: 1.5rem;
  }
}

.products{

  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  justify-content: center;


  .product{
  width: 250px;
  img{
    width: 250px;
    height: 250px;
    object-fit: cover;

  }



  .product-info{

    display: flex;
    flex-direction: column;
    gap: 8px;


    .brand{
      font-size: 0.8rem;
    }
    .title{
      //text-overflow: ellipsis;
      font-size: 1.2rem;

    }
    .price{
      font-size: 1.2rem;

    }
    .star{
      font-size: 0.8rem;
    }
    .option {
      display: none;

    }

  }
}}