.productReviewContainer:last-child {
    border-bottom: none;
}
.productReviewContainer {
    padding: 1rem;
    //margin-top: 1rem;
    border-bottom: 1px solid lightgray;

    .reviewerInfoContainer{
        display: flex;
        //margin-bottom: 1rem;

        .reviewerImage {
            border-radius: 50px;
            border: 1px solid gray;
            margin-right: 1rem;
        }

        .reviewerInfoDetail {
            width: 100%;
            padding-top: 10px;

            .reviewerStars {
                display: flex;
                gap: 0.5rem;
                margin-bottom: 0.8rem;

                .selected {
                    color: #ffcd03;
                }

                .non-selected {
                    color: #d3d3d3;
                }

            }

            .review-header{
                width: 100%;
                display: flex;
                justify-content: space-between;


                .reviewerName {
                display: flex;
                gap: 0.5rem;
                }

                .review-control-buttons{
                    display: flex;
                }
            }
        }
    }

    .productReview {
        margin-bottom: 1rem;
    }
    .edit-review{
        width: 100%;
    }

    .review-images{

        button{
            padding: 0;
            background: none;
            border: none;
        }
        gap: 8px;
        display: flex;
        //padding: 16px;
        .review-image{
            width: 100px;
            height: 100px;
            object-fit: cover;

        }

        .dark {
            filter: brightness(30%);
        }

        .last-image{
            //padding: 0;
            //background: none;
            //border: none;
            display: inline-block;
            position: relative;
            width: 100px;
            height: 100px;
            .count-text{
                font-weight: 700;
                font-size: 1.5rem;
                z-index: 10;
                color: white;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 48%;
                transform: translate(-50%, -50%);
            }
        }

    }

}