.label{
  display:flex;
  //height: 50px;
  justify-content: space-between;
  align-items:end;
  padding: 8px;
  .title{
    font-size: 1.5rem;
  }
}

.products{

  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  justify-content: center;

  margin: 0.5rem 0 3rem 0;


  .product{
  width: 250px;
  height: 400px;

  img{
    width: 250px;
    height: 250px;
    object-fit: cover;

  }

  .product-info{

    display: flex;
    flex-direction: column;
    gap: 8px;

    .brand{
      font-size: 0.8rem;
    }
    .title{
      //text-overflow: ellipsis;
      font-size: 1.2rem;

    }
    .price{
      font-weight: bold;
      font-size: 1.2rem;
    }
    .origin-price {
      text-decoration: line-through;
      color: rgb(194,194,194);
      font-size: 0.9rem;
      margin-bottom: 5px;
    }
    .origin-price.no-decoration {
      text-decoration: none;
    }
    .discount-rate {
      color: rgb(255,71,71);
      font-weight: bold;
      margin-right: 5px;
      font-size: 1.2rem;
    }
    .star{
      font-size: 0.8rem;
    }
    .option {
      display: none;

    }

  }
}}

.recommend-card {
  .products{  
  
    .product{
    width: 200px;
    height: 300px;

    img{
      width: 200px;
      height: 150px;
      object-fit: cover;
  
    }
  
    .product-info{
  
      display: flex;
      flex-direction: column;
      gap: 8px;
  
  
      .brand{
        font-size: 0.8rem;
      }
      .title{
        //text-overflow: ellipsis;
        font-size: 1.2rem;
  
      }
      .price{
        font-weight: bold;
        font-size: 1.2rem;
      }
      .origin-price {
        text-decoration: line-through;
        color: rgb(194,194,194);
        font-size: 0.9rem;
        margin-bottom: 5px;
      }
      .origin-price.no-decoration {
        text-decoration: none;
      }
      .discount-rate {
        color: rgb(255,71,71);
        font-weight: bold;
        margin-right: 5px;
        font-size: 1.2rem;
      }
      .star{
        font-size: 0.8rem;
      }
      .option {
        display: none;
  
      }
  
    }
  }}
}