.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  input {
    height: 2.8rem;
    width: 360px;
    font-size: 1.2rem;
    padding-left: 45px;
    background: var(--alpha-10) url(../../../img/search.svg) 12px center no-repeat;
    color: var(--default-font-color);
    border: 1px solid var(--alpha-20);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px var(--alpha-10);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      border-color: var(--alpha-30);
    }

    &:focus {
      background-color: var(--point-background-color-10);
      border-color: var(--point-color);
      box-shadow: 0 0 5px var(--point-shadow-color-30);
      outline: none;
    }
  }

  input::placeholder {
    color: var(--alpha-40);
    opacity: 1;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  input:focus::placeholder {
    color: var(--alpha-50);
  }
}
