.cart{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  align-items: center;
  gap:8px;

  img{
    height: 150px;
    width : 150px;

  }


  .product-info{
    width: 100%;


    display: flex;
    flex-direction:column;
    gap: 8px;
     .brand{
      color: #1a76f2;

      font-size: 0.8rem;
    }
    .title{
      font-size: 1.2rem;

    }
    .price{
      margin-left: auto;
      font-size: 1.2rem;

    }
    .star {
      display: none;

    }
    button{
      color: #1a76f2;
    }

    .option{

    }


  }




}