.label{
  display:flex;
  height: 50px;
  justify-content: space-between;
  align-items:end;
  padding: 8px;
  .title{
    font-size: 1.5rem;
  }
}

.products{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;

.product{
  width: 250px;
  img{width: 100%;}


  .product-info{
    display: flex;
    flex-direction: column;
    gap: 8px;

    .brand{
      font-size: 0.8rem;
    }
    .title{
      font-size: 1.2rem;

    }
    .price{
      font-size: 1.2rem;

    }
    .star{
      font-size: 0.8rem;
    }
    .option {
      display: none;

    }

  }
}}