@mixin listGap {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid black;
    flex-wrap: wrap; 
}

.seller-search-container{
    display: flex;
    gap: 5px;
    margin: 1rem 0 1rem 0;
}

.sellerItemListContainer {
    .SellerItemListHeaderContainer {
        @include listGap;
        background-color: rgb(242, 242, 242);
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none; // 기본 리스트 스타일 제거
    }

    .SellerItemListHeaderContainer {
        font-weight: bold;
        .SellerItemImage {

            height: auto;
        }
    }

    .sellerItemContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #ddd;
    }

    .SellerItemId {
        flex: 0 0 6%; // 비율 기반으로 10%
        text-align: center;
    }

    .SellerItemImage {
            flex: 0 0 10%; // 고정 크기처럼 동작
            margin-left: 20px;

            img {
                width: 80px;
                height: 80px; 
                object-fit: cover;
            }
    }

    .SellerItemName {
        flex: 1; // 남는 공간의 2배를 차지
        text-align: center;
    }

    .SellerItemPrice {
        flex: 0 0 10%; // 남는 공간의 1배를 차지
        text-align: right;
    }

    .SellerItemSpecies {
        flex: 0 0 10%; // 고정 크기처럼 동작
        text-align: right;
    }

    .SellerItemCategory {
        flex: 0 0 10%; // 고정 크기처럼 동작
        text-align: center;
        // margin-right: 10px;
    }

    .SellerItemUpdate {
        flex: 0 0 5%; // 고정 크기
        text-align: center;
    }

    .SellerItemDelete {
        flex: 0 0 5%; // 고정 크기
        text-align: center;
    }

    button {
        background-color: white;
        border: 2px solid rgb(148,148,148);
        padding: 3px 10px 3px 10px;
    }

    button:hover {
        background-color: rgb(239, 239, 239);
        font-weight: bold;
    }
}