.sellerItemContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid black;

    .SellerItemId {
        width: 60px;
    }

    .SellerItemImage {
        width: 80px;
    }


}