.writeButtonContainer{
    bottom: 30px;
    right: 30px;
    position: fixed;
    z-index: 900;
    width: 100px;
    height: 100px;
}

.writeButtonIcon {
    z-index: 900;
    background-color: var(--point-color);
    color: var(--body-background-color);
    box-shadow: 5px 5px 10px 1px var(--point-shadow-color-30);
    // 구형, 크기, 내부 간격값 조절
    border-radius: 50px/50px;
    font-size: 1.5rem;
    padding: 1rem;
}