.cart-item-inner {

    .cart-item-info {
        display: flex;
        gap: 1rem;
        margin-left: 1rem;

        div {
            .cart-item-name {
                font-size: 1.5rem;
                font-weight: bold;
            }
        }

        .item-price-box {
            display: flex;
            flex-direction: column;

            .origin {
                color: var(--alpha-20);
                text-decoration: line-through;
                font-size: 1rem;
                margin-bottom: 3px;
            }
        }
    }

}