//.buttons{
//  display: flex;
//  flex-direction: row;
//  *{
//    width: 160px;
//    height: 48px;
//  }
//}
.delivery-info-container {
  width: 100%;

  .delivery-info-form-container{
    display: flex;
    justify-content: center;

    .delivery-info {
    margin: 2rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;

    .title {
      width: 150px;
      display: flex;
      align-items: center;
    }

    .input-address {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 16px;
      input{
        border: 1px solid #dbdbdb;
        color: #767676;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;

        border-radius: 6px;
        padding: 5px 10px;
       }

      .input-post-number {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #address1 {
          width: 200px;
        }

        .address-search-button {
          width: 110px;
          //background: none;
          //border: none;

        }
      }
    }

    .input-phone-number {
      width: 320px;
      //gap: 8px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;

      .hyphen {
        display: flex;
        justify-content: center;
        //height: 100%;
        padding-bottom: 1rem;
      }

      input {
        width: 100px
      }


    }

    input, select {
      height: 40px;
      width: 320px;
    }

      .purchase-button-container{
        width: 100%;
        justify-content: flex-end;
        display: flex;

      }
  }
}
}