.headerContainer {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--alpha-10);

  &.admin-seller-styles {
    background-color: var(--point-color);
    color: var(--header-bright-font-color);

    .headerContentsContainer h1,
    .headerContentsContainer li,
    .headerLnCContainer .logo,
    .headerRegisterContainer a,
    .headerRegisterContainer .logout,
    .headerRegisterContainer p,
    .headerRegisterContainer link {
      color: var(--header-bright-font-color);
    }
  }

  &.user-styles {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(100px);
    color: var(--header-dark-font-color);

    .headerContentsContainer h1,
    .headerContentsContainer li,
    .headerLnCContainer .logo,
    .headerRegisterContainer a,
    .headerRegisterContainer .logout,
    .headerRegisterContainer p,
    .headerRegisterContainer link {
      color: var(--header-dark-font-color);
    }

    .headerContentsContainer h1 {
      color: var(--point-color);
    }

    .headerContentsContainer li:hover {
      text-decoration: underline;
    }
  }

  .headerContentsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--site-width);

    h1 {
      font-size: 1.5rem;
      font-weight: bold;
    }

    li {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .headerLnCContainer {
    display: flex;

    .logo {
      font-size: 1.5rem;
    }
  }

  .headerCatecoryContainer {
    display: flex;
    padding-left: 1rem;
    gap: var(--banner-gap);
    align-items: center;
  }

  .headerRegisterContainer {
    display: flex;
    gap: var(--banner-gap);

    a {
      font-size: 1.3rem;
      //background: var(--point-shadow-color);
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .profile-image {
        width: 100%;
        border-radius: 50%;
      }
    }

    .logout {
      font-size: 0.9rem;
      padding: 0;
      border: none;
      background: none;
      width: 100px;
      height: 2.5rem;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--body-background-color-30);
    }

    p, link {
      background-color: #cdecee1a;
      border-radius: 20px;
    }
  }
}
