.container {
  display: flex;
  justify-content: center;

  .box {
    display: flex;
    justify-content: center;
    height: 700px;
    width: 300px;

    .login-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      * {
        width: 100%;
      }

      input {
        border: 0.1px solid var(--alpha-40);
        border-radius: 5px/5px;
        height: 2.5rem;
        font-size: 1.0625rem;
        padding-left: 0.875rem;
        line-height: 147.6%;
        padding-top: 0.825rem;
        padding-bottom: 0.5rem;
      }

      button {
        border-radius: 5px/5px;
        margin-top: 1rem;
        border: none;
        height: 2.5rem;
        cursor: pointer;
        background: var(--alpha-30);
      }


      .main-button {
        background: var(--point-color);
        color: var(--header-font-color);
      }

      .warning {
        color: var(--warning-color);
        font-size: .8rem;
      }


    }

  }

}