.container {
  display: flex;
  justify-content: center;

  .box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    width: 300px;
    margin-top: 80px;

    .icon {
      position: relative;
      left: -200px;

      width: 300px;
      font-size: 5rem;
      color: var(--point-background-color-80);
      //margin-bottom: 30px;

    }

    .edit-profile-image{
      position: relative;
      color: var(--point-background-color-80);
      left: 200px;
      top: -30px;
      cursor: pointer;
      font-size: 1.5rem;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;

      input {
        border: 0.1px solid var(--alpha-40);
        border-radius: 5px/5px;
        height: 2.5rem;
        font-size: 1.0625rem;
        padding-left: 0.875rem;
        line-height: 147.6%;

      }

      button {
        border-radius: 5px/5px;
        margin-top: 1rem;
        border: none;
        height: 2.5rem;
        background: var(--point-color);
        color: var(--header-font-color);
      }


      span {
        //justify-content: center;
        align-items: center;
        display: flex;
        color: var(--default-visited-anchor-color);
        height: 2rem;

      }

      * {
        width: 100%;
      }

      .warning {
        color: var(--warning-color);
        font-size: .8rem;
      }

      .warning-btn {
        background: var(--warning-color);
      }

      .seller-register-link{
        margin-top: 80px;
        text-decoration : underline;
        color: var(--alpha-30);
      }
    }

  }
}