
.pet-info-container{
  padding: 8px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap:1rem;
  .detail-info{
    width: 60%;
  }

  .pet-profile-container{
    padding: 4px;

    overflow: auto;
    height: 800px;
    gap:1rem;
    display: flex;
    width: 40%;
    flex-direction: column;

    .pet-info{
      height: 160px;
      width: 100%;
      display: flex;
      align-items: center;

      .pet-profile{
        width: 125px;
        height: 125px;
        object-fit: cover;
      }
      .info-section{
        display: flex;
        flex-direction: column;
        width: 125px;
      }

    }
  }

  /* 스크롤바의 폭 너비 */
  .pet-profile-container::-webkit-scrollbar {
    width: 5px;
  }

  .pet-profile-container::-webkit-scrollbar-thumb {
    background: var(--alpha-30); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
  }

  .pet-profile-container::-webkit-scrollbar-track {
    background: var(--alpha-5);  /*스크롤바 뒷 배경 색상*/
  }






}