.map-outer-container{

  height: 100vh;
  display: flex;
  .map-list{
    width: 360px;
  }
  .map-container{
    width: 720px;
  }

  .detail-info-window{
    display: flex;
    flex-direction: column;
  }

}
