@mixin selector-style {
    margin-left: 1rem;
        
    p {
        background-color: rgb(238, 238, 238);
        font-size: 1rem;
        padding: 5px;
        border-radius: 10px;
    }
}

@mixin active ($v: --point-shadow-color) {
    background-color: var($v);
    font-weight: bold;
}

@mixin button-shape ($w:90px, $f:1rem, $g:5px) {
    height: 50px;
    width: $w;
    font-size: $f;
    
    display: flex;
    gap: $g;
}

.filter-container {
    position: relative;
    margin-top: 60px; // 선택된 태그들을 위한 공간 확보
    
    .filter-max-container {
        display: flex;
        gap: 20px;
        padding: 15px;
        background-color: var(--point-background-color-20);
        border-radius: 10px;
        z-index: 1;

        // 강아지, 고양이 선택
        .kind-selector {
            display: flex;
            gap: 10px;
            width: 20%;

            button {
                @include button-shape;

                &:hover {
                    @include active($v:--point-shadow-color-30);
                }
            }

            .active {
                @include active;
            }
        }

        .breed-selector, .region-selector {
            position: static; // 중요: static으로 설정
            width: 40%;

            .selector-button {
                @include button-shape($w:100%, $f:1rem, $g:10px);
            }
        }
    }
}

// 드롭다운 메뉴를 컨테이너 위로 위치시킴
.breed-filter {
    position: absolute;
    top: 93%;
    left: 22%;
    width: 37.5%;
    z-index: 100;

    height: auto;

    background-color: rgb(231, 240, 230);
    border: 2px solid rgb(133, 179, 128);
    border-radius: 10px;

    .filter-util-container {
        height: 30px;

        display: flex;
        justify-content: space-between;

        margin-bottom: 10px;

        input {
            width: 100%;
            outline: none;
            border: none;
            padding: 0 10px 0 10px;
        }
    }

    .select-container {
        background-color: white;
        height: 220px;
        overflow-y: scroll;

        padding: 10px;

        .select-list {

            .select-item {
                display: flex;
                gap: 10px;
                // margin-bottom: 10px;
                padding: 8px;

                input {
                    accent-color: var(--point-background-color-20);
                }

                &:hover {
                    cursor: pointer;
                    background-color: var(--point-background-color-20);
                }
            }
        }
    }

    .select-container::-webkit-scrollbar {
        width: 5px;
      }
    
    .select-container::-webkit-scrollbar-thumb {
        background: var(--alpha-30); /* 스크롤바 색상 */
        border-radius: 10px; /* 스크롤바 둥근 테두리 */
      }
    
    .select-container::-webkit-scrollbar-track {
        background: var(--alpha-5);  /*스크롤바 뒷 배경 색상*/
        }
}

.region-filter {
    position: absolute;
    top: 93%;
    left: 61%;
    width: 37.5%;
    z-index: 100;

    height: auto;

    background-color: rgb(231, 240, 230);
    border: 2px solid rgb(133, 179, 128);
    border-radius: 10px;

    .select-container {

        .select-label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .button-box {
            display: flex;
        }
    }
}

// .filter-breed-container {
//     position: absolute;
//     top: -50px;
//     left: 0;
//     width: 100%;
//     z-index: 3;
    
//     .filter-breed-list {
//         display: flex;
//         flex-wrap: wrap;
//         gap: 8px;
        
//         .filter-breed-item {
//             display: flex;
//             align-items: center;
//             gap: 5px;
//             padding: 5px 10px;
//             background-color: var(--point-background-color-20);
//             border-radius: 15px;
//         }
//     }
// }


.filter-mini-container {

    display: flex;
    margin: 2rem 0 1rem 2rem;

    .filter-att-list {
        margin-left: 10px;
        display: flex;
        gap: 5px;
        border: 1px solid rgb(0, 0, 0);

        li {
            border-left: 1px solid rgb(0, 0, 0);
            padding: 10px 20px 10px 20px;
            text-align: center;
        }

        li:first-child {
            border-left: none;
        }
    }

}

.sub-select-list {
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    gap: 1rem;
}

.filter-breed-container {

    .filter-breed-list {

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 16px; /* 카드 사이의 간격 */
        padding: 16px; /* 컨테이너 안쪽 여백 */

        .filter-breed-item {
            display: flex;
        }        
    }


}

.adopt-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; /* 카드 사이의 간격 */
    padding: 16px; /* 컨테이너 안쪽 여백 */
}

.adopt-item-Container {

    width: 300px;

    .img-container {
        
        img {
            width: 250px;
            height: 250px;
            border-radius: 10px;
            object-fit: cover;
        }

    }

    .info-container {
        margin: 10px 0 10px 0;
        display: flex;
        justify-content: space-between;

        .process-container {
            // background-color: #d9d9d9;
            // width: 70px;
            // color: rgb(0, 0, 0);
            // padding: 7px;
            // text-align: center;
            // border-radius: 10px;
            // margin-bottom: 10px;
        }
    }

    .addr-container {
        border-top: 1px solid rgb(182, 182, 182);
        padding-top: 10px;
    }

}