@mixin selector-style {
    margin-left: 1rem;
        
    p {
        background-color: rgb(238, 238, 238);
        font-size: 1rem;
        padding: 5px;
        border-radius: 10px;
    }
}

@mixin active ($v: --point-shadow-color) {
    background-color: var($v);
    color: white;
    font-weight: bold;
}

@mixin button-shape ($w:90px, $f:1rem, $g:5px) {
    height: 50px;
    width: $w;
    font-size: $f;
    
    display: flex;
    gap: $g;
}

@mixin list-shape ($t:120%, $l:6.3%) {
    position: absolute;
    top: $t;
    left: $l;

    background-color: rgb(231, 240, 230);

    display: flex;
    flex-direction: column;

    border: 2px solid rgb(133, 179, 128);
    border-radius: 10px;
}

.filter-container {
    position: relative;
    // margin-top: 60px; // 선택된 태그들을 위한 공간 확보
    
    .filter-max-container {
        display: flex;
        gap: 20px;
        padding: 15px;
        background-color: var(--point-background-color-20);
        border-radius: 10px;

        position: relative; // 추가
        z-index: 10; // 높은 값으로 설정

        // 강아지, 고양이 선택
        .kind-selector {
            display: flex;
            gap: 10px;
            width: 20%;

            button {
                @include button-shape;

                &:hover {
                    @include active($v:--point-shadow-color-30);
                }
            }

            .active {
                @include active;
            }
        }

        .breed-selector, .region-selector {
            position: static; // 중요: static으로 설정
            width: 40%;

            .selector-button {
                @include button-shape($w:100%, $f:1rem, $g:10px);
            }
        }
    }

    .filter-breed-container {

        z-index: -100;

        .filter-breed-list {
            display: flex;
            flex-wrap: wrap;
            gap: 16px; /* 아이템 사이의 간격 */
            padding: 16px; /* 컨테이너 안쪽 여백 */
    
            position: relative;
            z-index: 1;
    
            .filter-breed-item {
                display: flex;
                background-color: var(--reverse-font-color);
                box-sizing: border-box;
                padding: 8px;
                border-radius: 4px;
                justify-content: space-between;
                align-items: center;

                cursor: pointer;
    
                span {
                    flex-grow: 1;
                }
            }
        }     
    }
}

// 드롭다운 메뉴를 컨테이너 위로 위치시킴
.breed-filter {
    position: absolute;
    top: 93%;
    left: 22%;
    width: 37.5%;
    z-index: 100;

    height: auto;

    background-color: rgb(231, 240, 230);
    border: 2px solid rgb(133, 179, 128);
    border-radius: 10px;

    .filter-util-container {
        height: 30px;

        display: flex;
        justify-content: space-between;

        margin-bottom: 10px;

        input {
            width: 100%;
            outline: none;
            border: none;
            padding: 0 10px 0 10px;
        }
    }

    .select-container {
        background-color: white;
        height: 220px;
        overflow-y: scroll;

        padding: 10px;

        .select-list {

            .select-item {
                display: flex;
                gap: 10px;
                padding: 8px;

                input {
                    accent-color: var(--point-background-color-20);
                }

                &:hover {
                    cursor: pointer;
                    background-color: var(--point-background-color-20);
                }
            }
        }
    }

    .select-container::-webkit-scrollbar {
        width: 5px;
      }
    
    .select-container::-webkit-scrollbar-thumb {
        background: var(--alpha-30); /* 스크롤바 색상 */
        border-radius: 10px; /* 스크롤바 둥근 테두리 */
      }
    
    .select-container::-webkit-scrollbar-track {
        background: var(--alpha-5);  /*스크롤바 뒷 배경 색상*/
        }
}

.region-filter {
    position: absolute;
    top: 93%;
    left: 61%;
    width: 37.5%;
    z-index: 100;

    height: auto;

    background-color: rgb(231, 240, 230);
    border: 2px solid rgb(133, 179, 128);
    border-radius: 10px;

    .select-container {

        margin-bottom: 10px;

        .select-label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .button-box {
            display: flex;
            margin-bottom: 10px;

            .province-button {
                background-color: white;
                height: 30px;
            }
        }

        .select-list {
            background-color: white;
            height: 150px;
            overflow-y: scroll;
    
            padding: 10px;

            .select-item {
                display: flex;
                gap: 10px;
                padding: 8px;

                &:hover {
                    cursor: pointer;
                    background-color: var(--point-background-color-20);
                }
            }
        }

        .select-list::-webkit-scrollbar {
            width: 5px;
        }
        
        .select-list::-webkit-scrollbar-thumb {
            background: var(--alpha-30); /* 스크롤바 색상 */
            border-radius: 10px; /* 스크롤바 둥근 테두리 */
        }
        
        .select-list::-webkit-scrollbar-track {
            background: var(--alpha-5);  /*스크롤바 뒷 배경 색상*/
        }
    }

    .button-container {
        display: flex;
        justify-content: space-between;

        button {
            height: 30px;
        }
    }
}

// 미니 필터
.filter-mini-container {

    display: flex;
    margin: 2rem 0 1rem 0;
    position: relative;

    .filter-button {
        display: flex;
        gap: 5px;
        height: 40px;
    }

    .filter-att-list {
        margin-left: 10px;
        display: flex;
        border: 2px solid var(--point-background-color-80);

        li {
            border-left: 2px solid var(--point-background-color-80);
            padding: 10px 20px 10px 20px;
            text-align: center;
            background-color: var(--point-background-color-20);

            
            display: flex;
            gap: 5px;
        }

        li:first-child {
            border-left: none;
        }
    }

    .filter-mini-age {
        @include list-shape;
    }

    .filter-mini-gender {
        @include list-shape($l:14.7%);
    }

    .filter-mini-neuter {
        @include list-shape($l:24%);
    }

    .mini-item {
        border-bottom: 1px solid rgb(133, 179, 128);
        padding: 10px;
        text-align: center;

        &:last-child {
            border-bottom: none;
        }
    }

    .active {
        @include active;
    }
}

// count card
.count-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    background-color: var(--point-background-color-20);

    .link-button {
        padding: 5px;

        &:hover {
            background-color: var(--point-background-color-80);
            font-weight: bold;
        }
    }

    span {
        color: white;
        font-size: 1rem;
        letter-spacing: 1px;
    }
}

.sub-select-list {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    gap: 1rem;
}

.adopt-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* 카드 사이의 간격 */
    padding: 16px; /* 컨테이너 안쪽 여백 */

    margin-top: 10px;
}

.adopt-item-Container {

    width: 300px;

    &:hover {
        background-color: var(--point-background-color-10);
    }

    .img-container {
        
        img {
            width: 250px;
            height: 250px;
            border-radius: 10px;
            object-fit: cover;
        }

    }

    .info-container {
        margin: 10px 0 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        font-weight: bold;
        padding: 10px 10px 10px 10px;
        border-radius: 5px;
        background-color: var(--point-background-color-10);

        .info {
            line-height: normal;
        }

        button {
            height: 25px;

            &:hover {
                background-color: var(--point-background-color-80);
            }
        }
    }

    .addr-container {
        border-top: 2px solid var(--point-shadow-color-30);
        padding-top: 10px;
    }

}