@mixin selector-style {
    margin-left: 1rem;
        
    p {
        background-color: rgb(238, 238, 238);
        font-size: 1rem;
        padding: 5px;
        border-radius: 10px;
    }
}

.filter-max-container {
    display: flex;

    .kind-selector {
        display: flex;

        button {
            border: none;
            background-color: transparent;
            font-size: 1rem;
        }
    }

    .breed-selector {

        @include selector-style;

        .breed-filter {

            .filter-util-container {
                
                display: flex;
                
                .open-button {

                    border: none;
                    background-color: transparent;
    
                }
            }

            .select-container{

                // height: 200px;

                .select-list {

                    height: 200px;
                    overflow-y: auto;

                    .select-item {
                        display: flex;
                    }                    
                }
                

            }
        }
    }

    .region-selector {

        @include selector-style;
    }
}

.adopt-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; /* 카드 사이의 간격 */
    padding: 16px; /* 컨테이너 안쪽 여백 */
}

.adopt-item-Container {

    width: 300px;

    .img-container {
        
        img {
            width: 250px;
            height: 250px;
            border-radius: 10px;
        }

    }

    .info-container {
        margin: 10px 0 10px 0;

        .process-container {
            background-color: #d9d9d9;
            width: 70px;
            color: rgb(0, 0, 0);
            padding: 7px;
            text-align: center;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    }

    .addr-container {
        border-top: 1px solid rgb(182, 182, 182);
        padding-top: 10px;
    }

}