.wiki-detail-container {

    margin-top: 3rem;

    .wiki-item {
        display: flex;
        flex-direction: column;
        background-color: var(--point-background-color-20);

        .item-header {
            text-align: center;
        }

        .wiki-img {
            width: 150px;
            border-radius: 10px;
        }

        .wiki-item-section {
            
            display: flex;

            .wiki-item-header {
                margin-right: 10px;
            }

            .description-container {

                .description-header-card {
                    display: none;
                }

                .description-list {
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .description {
                    display: flex;
                    border-bottom: 2px solid var(--point-background-color-20);
                    padding: 10px 0 10px 0;
                    line-height: normal;

                    &:first-child {
                        padding-top: 0;
                    }

                    &:nth-child(2) {
                        padding-bottom: 15px;
                    }

                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 0;
                    }

                    .d-title {
                        width: 5%;
                        margin-right: 5px;
                    }
                    .d-content {
                        width: 95%;
                    }
                }
            }            
        }

        .wiki-patch-button {
            display: flex;
            justify-content: flex-end;
            margin: 10px 0 0 10px; 
        }
    }

    .wiki-comment-list {

        padding: 3rem 20px 0 20px;
        margin-top: 3rem;
        border-top: 3px solid var(--point-background-color-10);

        .wiki-comment-item {
            display: flex;
            flex-direction: column;
            padding: 10px 0;
            border-bottom: 1px solid #eee;
        
            .comment-main {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 8px;
        
                .comment-content {
                    flex: 1;
        
                    .author {
                        font-weight: bold;
                        margin-bottom: 4px;
                    }
        
                    .content {
                        word-break: break-all;
                    }
                }
        
                .button-group {
                    display: flex;
                    gap: 8px;

                    .handle-button {
                        background-color: transparent;

                        .button-text {
                            margin-left: 3px;
                        }
                    }
                }
            }
        }
    }

    .comment-input-container {
        display: flex;
        gap: 10px;
        padding: 15px;
        background-color: #f1f1f1;
        border-radius: 8px;
    
        .comment-textarea {
            flex: 1;
            min-height: 100px;
            padding: 10px;
            border: none;
            background-color: transparent;
            resize: none;
            
            &::placeholder {
                color: #999;
            }
    
            &:focus {
                outline: none;
            }
        }
    
        .comment-submit-btn {
            align-self: flex-end;
            background-color: white;
            width: 50px;
            height: 30px;
        }
    }
}