

.discount-modal-container {
    background-color: white;

    width: 500px;
    height: 500px;
    
    padding: 1rem;

    .option-container {
        
        .option-item {
            display: flex;
            gap: 1rem;
        }
    }
}