.button{

  //margin-top: 10px;
  border: none;
  border-radius: 5px;

}

.primary.button{
  background: var(--point-color);
  color: white;

}

.default.button {
  background: var(--alpha-5);
  color: black;
  border: 1px solid var(--alpha-5);
}

.alert.button{
  background: var(--warning-color);
  color: white;

}

.small{
  width: 48px;
  height: 32px;
}

.mid{
  width: 60px;
  height: 40px;
}

.lg{
  width: 72px;
  height: 48px;
}

.long{
  width: 120px;
  height: 40px;
}

.wd100{
  width: 100%;
  height: 40px;
}

.result-button{
  font-weight: bold;
  font-size: 1.1rem;
  
  color: var(--alpha-70);
  background-color: var(--sercondary-background-color);
  border-radius: 15px;
}