.button{

  margin-top: 10px;
  border: none;
  border-radius: 5px;

}

.primary{
  background: var(--point-color);
  color: white;

}

.default {
  background: var(--alpha-5);
  color: black;
  border: 1px solid var(--alpha-5);


}

.small{
  width: 48px;
  height: 32px;
}

.mid{
  width: 60px;
  height: 40px;
}

.lg{
  width: 72px;
  height: 48px;
}

.long{
  width: 120px;
  height: 40px;
}



.wd100{
  width: 100%;
  height: 40px;
}