.img-section{

  //background: #ffe003;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  .image-container{
    //background: #8a824b;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;

    .review-image{
      //width: 100%;
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }

    .input-file{
      display: none;
    }
    .input-file-button{
      cursor: pointer;
    }


  }
  .delete-image{
    //background:none;
    //border:none;
  }
}