.my-page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  .user-info{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
  .user-info-text{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    //height: 100vh;
  }}
  .shop{
    width: 100%;

    height: 200px;

    height: calc(100vh - 140px) ;

    background: rebeccapurple;
  }
}