
.my-page{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  //height: 100vh;
  width: 100%;
  gap: 1rem;
  .user-profiles{

    display: flex;
    flex-direction: row;
    gap: 1rem;

  .user-info{
    width: 50%;
    height: 140px;
    display: flex;
    flex-direction: row;

    .user-info-text{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    //height: 100vh;
  }}}
  .shop{
    width: 100%;
    //border: solid 1px var(--alpha-50);

    border-radius: 30px/30px;
    //padding:24px;
    //background: #eeeeee;


    //box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.06)

    h2{
      margin-bottom: 16px;
      margin-left: 16px;
    }


  }
}