@font-face {
    font-family: "pretendard";
    font-weight: normal;
    src: url("./assets/fonts/PretendardVariable.ttf") format("truetype");
}


/**,  {*/
/*    margin: 0;*/
/*    font-family: "pretendard"*/
/*}*/

