.vertical{
  border: 1px solid #808080;
  display:inline;
  margin :  0 5px 0 5px;
  width: 1px;
}

.inner-container{
    height: auto;
    min-height: 100vh;
  padding-bottom: 80px;
}

.map {
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: medium;
    border-color: #D8D8D8;
}


.row{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.highlight{
    background: var(--point-background-color);
    color: white;
    padding: 1px;
    margin:1px;
    border: 1px solid var(--alpha-10);
    border-radius: 2px/2px;
}

.highlight-gray{
    background: var(--alpha-10);
    padding: 1px;

    border: 1px solid var(--alpha-10);
    border-radius: 2px/2px;
    /*color: white;*/
}